In [1]:
!pip install -r requirements-binder.txt

Requirement already satisfied: numpy==1.24.2 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 1)) (1.24.2)
Requirement already satisfied: pandas==2.0.0 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 2)) (2.0.0)
Requirement already satisfied: matplotlib==3.7.1 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 3)) (3.7.1)
Requirement already satisfied: seaborn==0.12.2 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 4)) (0.12.2)
Requirement already satisfied: folium==0.14.0 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 5)) (0.14.0)
Requirement already satisfied: ee>=0.2 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 6)) (0.2)
Requirement already satisfied: geemap==0.20.5 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 7)) (0.20.5)
Requirement already satisfied: jupyterlab==3.6.3 in /home/rus/.local/lib/python3.8/site-packages (from -r requirements-binder.txt (line 8)) (3.6.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rus/.local/lib/python3.8/site-packages (from pandas==2.0.0->-r requirements-binder.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/rus/.local/lib/python3.8/site-packages (from pandas==2.0.0->-r requirements-binder.txt (line 2)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/rus/.local/lib/python3.8/site-packages (from pandas==2.0.0->-r requirements-binder.txt (line 2)) (2023.3)
Requirement already satisfied: packaging>=20.0 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (23.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (4.39.3)
Requirement already satisfied: cycler>=0.10 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (0.11.0)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /home/rus/.local/lib/python3.8/site-packages (from matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (9.5.0)
Requirement already satisfied: requests in /home/rus/.local/lib/python3.8/site-packages (from folium==0.14.0->-r requirements-binder.txt (line 5)) (2.28.2)
Requirement already satisfied: jinja2>=2.9 in /home/rus/.local/lib/python3.8/site-packages (from folium==0.14.0->-r requirements-binder.txt (line 5)) (3.1.2)
Requirement already satisfied: branca>=0.6.0 in /home/rus/.local/lib/python3.8/site-packages (from folium==0.14.0->-r requirements-binder.txt (line 5)) (0.6.0)
Requirement already satisfied: blessings in /home/rus/.local/lib/python3.8/site-packages (from ee>=0.2->-r requirements-binder.txt (line 6)) (1.7)
Requirement already satisfied: eerepr>=0.0.4 in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.0.4)
Requirement already satisfied: ipyfilechooser>=0.6.0 in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.6.0)
Requirement already satisfied: ipyleaflet>=0.17.0 in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.17.2)
Requirement already satisfied: python-box in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (7.0.1)
Requirement already satisfied: earthengine-api>=0.1.347 in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.1.349)
Requirement already satisfied: bqplot in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.12.39)
Requirement already satisfied: colour in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.1.5)
Requirement already satisfied: pyperclip in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (1.8.2)
Requirement already satisfied: geocoder in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (1.38.1)
Requirement already satisfied: scooby in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.7.1)
Requirement already satisfied: ipytree in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.2.2)
Requirement already satisfied: ipyevents in /home/rus/.local/lib/python3.8/site-packages (from geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.0.1)
Requirement already satisfied: jupyter-server-ydoc~=0.8.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.8.0)
Requirement already satisfied: notebook<7 in /usr/lib/python3/dist-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (6.0.3)
Requirement already satisfied: jupyterlab-server~=2.19 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.22.1)
Requirement already satisfied: ipython in /usr/lib/python3/dist-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (7.13.0)
Requirement already satisfied: jupyter-server<3,>=1.16.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.5.0)
Requirement already satisfied: tornado>=6.1.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (6.2)
Requirement already satisfied: tomli; python_version < "3.11" in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.0.1)
Requirement already satisfied: nbclassic in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.5.5)
Requirement already satisfied: jupyter-ydoc~=0.2.3 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.2.4)
Requirement already satisfied: jupyter-core in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (5.3.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas==2.0.0->-r requirements-binder.txt (line 2)) (1.14.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/rus/.local/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib==3.7.1->-r requirements-binder.txt (line 3)) (3.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/rus/.local/lib/python3.8/site-packages (from requests->folium==0.14.0->-r requirements-binder.txt (line 5)) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests->folium==0.14.0->-r requirements-binder.txt (line 5)) (2019.11.28)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/lib/python3/dist-packages (from requests->folium==0.14.0->-r requirements-binder.txt (line 5)) (1.25.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests->folium==0.14.0->-r requirements-binder.txt (line 5)) (2.8)
Requirement already satisfied: MarkupSafe>=2.0 in /home/rus/.local/lib/python3.8/site-packages (from jinja2>=2.9->folium==0.14.0->-r requirements-binder.txt (line 5)) (2.1.2)
Requirement already satisfied: ipywidgets in /home/rus/.local/lib/python3.8/site-packages (from ipyfilechooser>=0.6.0->geemap==0.20.5->-r requirements-binder.txt (line 7)) (8.0.6)
Requirement already satisfied: traittypes<3,>=0.2.1 in /home/rus/.local/lib/python3.8/site-packages (from ipyleaflet>=0.17.0->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.2.1)
Requirement already satisfied: xyzservices>=2021.8.1 in /home/rus/.local/lib/python3.8/site-packages (from ipyleaflet>=0.17.0->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2023.2.0)
Requirement already satisfied: google-cloud-storage in /home/rus/.local/lib/python3.8/site-packages (from earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.8.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /home/rus/.local/lib/python3.8/site-packages (from earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.1.0)
Requirement already satisfied: google-auth>=1.4.1 in /home/rus/.local/lib/python3.8/site-packages (from earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.17.3)

Requirement already satisfied: httplib2<1dev,>=0.9.2 in /home/rus/.local/lib/python3.8/site-packages (from earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.22.0)
Requirement already satisfied: google-api-python-client>=1.12.1 in /home/rus/.local/lib/python3.8/site-packages (from earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.85.0)
Requirement already satisfied: traitlets>=4.3.0 in /home/rus/.local/lib/python3.8/site-packages (from bqplot->geemap==0.20.5->-r requirements-binder.txt (line 7)) (5.9.0)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from geocoder->geemap==0.20.5->-r requirements-binder.txt (line 7)) (7.0)
Requirement already satisfied: ratelim in /home/rus/.local/lib/python3.8/site-packages (from geocoder->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.1.6)
Requirement already satisfied: future in /home/rus/.local/lib/python3.8/site-packages (from geocoder->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.18.3)
Requirement already satisfied: ypy-websocket<0.9.0,>=0.8.2 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server-ydoc~=0.8.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.8.4)
Requirement already satisfied: jupyter-server-fileid<1,>=0.6.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server-ydoc~=0.8.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.9.0)
Requirement already satisfied: importlib-metadata>=4.8.3; python_version < "3.10" in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (6.4.1)
Requirement already satisfied: json5>=0.9.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.9.11)
Requirement already satisfied: jsonschema>=4.17.3 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (4.17.3)
Requirement already satisfied: babel>=2.10 in /home/rus/.local/lib/python3.8/site-packages (from jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.12.1)
Requirement already satisfied: pexpect in /usr/lib/python3/dist-packages (from ipython->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (4.6.0)
Requirement already satisfied: send2trash in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.8.0)
Requirement already satisfied: anyio>=3.1.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (3.6.2)
Requirement already satisfied: jupyter-events>=0.4.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.6.3)
Requirement already satisfied: terminado>=0.8.3 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.17.1)
Requirement already satisfied: websocket-client in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.5.1)
Requirement already satisfied: nbconvert>=6.4.4 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (7.3.1)
Requirement already satisfied: nbformat>=5.3.0 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (5.8.0)
Requirement already satisfied: argon2-cffi in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (21.3.0)
Requirement already satisfied: jupyter-client>=7.4.4 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (8.2.0)
Requirement already satisfied: prometheus-client in /usr/lib/python3/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.7.1)
Requirement already satisfied: jupyter-server-terminals in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.4.4)
Requirement already satisfied: pyzmq>=24 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (25.0.2)
Requirement already satisfied: ipython-genutils in /usr/lib/python3/dist-packages (from nbclassic->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.2.0)
Requirement already satisfied: notebook-shim>=0.1.0 in /home/rus/.local/lib/python3.8/site-packages (from nbclassic->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.2.2)
Requirement already satisfied: nest-asyncio>=1.5 in /home/rus/.local/lib/python3.8/site-packages (from nbclassic->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.5.6)
Requirement already satisfied: ipykernel in /usr/lib/python3/dist-packages (from nbclassic->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (5.2.0)
Requirement already satisfied: y-py<0.6.0,>=0.5.3 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-ydoc~=0.2.3->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.5.9)
Requirement already satisfied: platformdirs>=2.5 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-core->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (3.2.0)
Requirement already satisfied: widgetsnbextension~=4.0.7 in /home/rus/.local/lib/python3.8/site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap==0.20.5->-r requirements-binder.txt (line 7)) (4.0.7)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in /home/rus/.local/lib/python3.8/site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap==0.20.5->-r requirements-binder.txt (line 7)) (3.0.7)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /home/rus/.local/lib/python3.8/site-packages (from google-cloud-storage->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.11.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /home/rus/.local/lib/python3.8/site-packages (from google-cloud-storage->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.3.2)
Requirement already satisfied: google-resumable-media>=2.3.2 in /home/rus/.local/lib/python3.8/site-packages (from google-cloud-storage->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (2.4.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/rus/.local/lib/python3.8/site-packages (from google-auth>=1.4.1->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /home/rus/.local/lib/python3.8/site-packages (from google-auth>=1.4.1->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/lib/python3/dist-packages (from google-auth>=1.4.1->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.2.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /home/rus/.local/lib/python3.8/site-packages (from google-api-python-client>=1.12.1->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (4.1.1)
Requirement already satisfied: decorator in /usr/lib/python3/dist-packages (from ratelim->geocoder->geemap==0.20.5->-r requirements-binder.txt (line 7)) (4.4.2)
Requirement already satisfied: aiofiles<23,>=22.1.0 in /home/rus/.local/lib/python3.8/site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc~=0.8.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (22.1.0)
Requirement already satisfied: aiosqlite<1,>=0.17.0 in /home/rus/.local/lib/python3.8/site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc~=0.8.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.19.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10; python_version < "3.9" in /home/rus/.local/lib/python3.8/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/lib/python3/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.15.5)
Requirement already satisfied: attrs>=17.4.0 in /usr/lib/python3/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (19.3.0)
Requirement already satisfied: sniffio>=1.1 in /home/rus/.local/lib/python3.8/site-packages (from anyio>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.3.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.0.7)
Requirement already satisfied: rfc3339-validator in /home/rus/.local/lib/python3.8/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /home/rus/.local/lib/python3.8/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.1.1)
Requirement already satisfied: pyyaml>=5.3 in /usr/lib/python3/dist-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (5.3.1)

Requirement already satisfied: ptyprocess; os_name != "nt" in /home/rus/.local/lib/python3.8/site-packages (from terminado>=0.8.3->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.7.0)
Requirement already satisfied: tinycss2 in /home/rus/.local/lib/python3.8/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.2.1)
Requirement already satisfied: jupyterlab-pygments in /home/rus/.local/lib/python3.8/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.2.2)
Requirement already satisfied: bleach in /usr/lib/python3/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (3.1.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/lib/python3/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.4.2)
Requirement already satisfied: nbclient>=0.5.0 in /home/rus/.local/lib/python3.8/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.7.3)
Requirement already satisfied: mistune<3,>=2.0.3 in /home/rus/.local/lib/python3.8/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.0.5)
Requirement already satisfied: beautifulsoup4 in /home/rus/.local/lib/python3.8/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (4.12.2)
Requirement already satisfied: pygments>=2.4.1 in /home/rus/.local/lib/python3.8/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.15.0)
Requirement already satisfied: defusedxml in /usr/lib/python3/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.6.0)
Requirement already satisfied: fastjsonschema in /home/rus/.local/lib/python3.8/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.16.3)
Requirement already satisfied: argon2-cffi-bindings in /home/rus/.local/lib/python3.8/site-packages (from argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (21.2.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /home/rus/.local/lib/python3.8/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (4.22.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /home/rus/.local/lib/python3.8/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (1.59.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/rus/.local/lib/python3.8/site-packages (from google-resumable-media>=2.3.2->google-cloud-storage->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (1.5.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/lib/python3/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.4.1->earthengine-api>=0.1.347->geemap==0.20.5->-r requirements-binder.txt (line 7)) (0.4.2)
Requirement already satisfied: webencodings>=0.4 in /usr/lib/python3/dist-packages (from tinycss2->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in /home/rus/.local/lib/python3.8/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.4.1)
Requirement already satisfied: cffi>=1.0.1 in /home/rus/.local/lib/python3.8/site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (1.15.1)
Requirement already satisfied: pycparser in /home/rus/.local/lib/python3.8/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab==3.6.3->-r requirements-binder.txt (line 8)) (2.21)

# Avistando ardillas en Central Park de NYC

# ![Ardilla](../ardillas/images/ardilla_gris.jpeg)

# Cargando librerías

Python es un framework de programación  que incluye muchas funciones para hacer operaciones básicas. Sin embargo, no siempre es posible hacer todo lo que queramos con las funciones que dispone Python. En estos casos, solo hay dos opciones:

Creamos nosotros una función nueva
Utilizamos una que haya creado en otro sistema de datos
Nosotros vamos a utilizar la ambas compñatibles, ya que muchas veces la función que buscamos ya ha sido creada por terceras personas y guardada una librería que se ha puesto a disposición de la comunidad de programadores y a su vez limpiar y recrearnos con el python

Hay infinidad de librerías para todo tipo de usos y a veces no es fácil saber si hay alguna/s librerías que contengan una función que nos permita hacer lo que deseamos. C

Si la librería no está instalada en nuestro sistema, deberemos instalarla primero y luego "importarla" para poder tener acceso a todas las funciones que contiene. Algunas veces, sólo estaremos interesados en alguna/s funciones por lo que solo "importaremos" dichas funciones en lugar de todas las existentes en la librería.

Además, en algunas ocasiones podemos utilizarlas con un nombre más corto para evitar teclear tanto.

Veámos qué librerías vamos a utilizar.

In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns;sns.set(color_codes=True)
from matplotlib.ticker import MultipleLocator
from matplotlib.ticker import MaxNLocator
import folium
import ee
import geemap.foliumap as geemap
color = sns.color_palette("tab10")

# Lectura de los datos

In [3]:
df_ardilla = pd.read_csv('../data/nyc_squirrels.csv')
df_ardilla

,long,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,approaches,indifferent,runs_from,other_interactions,lat_long,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086),NaN,19,4,19,13
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),NaN,19,4,19,13
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),NaN,19,4,19,13
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755),NaN,19,4,19,13
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163),NaN,19,4,19,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466),NaN,19,4,19,13
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973),NaN,19,4,19,13
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883),NaN,19,4,19,13
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912),NaN,19,4,19,13
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025),NaN,19,4,19,13

# Observamos diferentes formas, info(); head()

In [4]:
df_ardilla.head(10)

,long,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,approaches,indifferent,runs_from,other_interactions,lat_long,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086),NaN,19,4,19,13
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),NaN,19,4,19,13
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),NaN,19,4,19,13
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755),NaN,19,4,19,13
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163),NaN,19,4,19,13
5,-73.956570,40.790256,33H-AM-1019-02,33H,AM,10192018,2,Juvenile,Gray,Cinnamon,...,False,False,False,NaN,POINT (-73.9565700386162 40.7902561000937),NaN,19,4,19,13
6,-73.971974,40.769305,6G-PM-1020-02,06G,PM,10202018,2,Adult,Gray,NaN,...,False,True,False,NaN,POINT (-73.9719735582476 40.7693045133578),NaN,19,4,19,13
7,-73.960261,40.794288,35C-PM-1013-03,35C,PM,10132018,3,NaN,Gray,Cinnamon,...,False,False,True,NaN,POINT (-73.9602609920814 40.79428830455661),NaN,19,4,19,13
8,-73.977072,40.772975,7B-AM-1008-09,07B,AM,10082018,9,Adult,Gray,NaN,...,False,True,False,NaN,POINT (-73.9770718586754 40.7729752391435),NaN,19,4,19,13
9,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029),NaN,19,4,19,13

In [5]:
df_ardilla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 36 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   long                                        3023 non-null   float64
 1   lat                                         3023 non-null   float64
 2   unique_squirrel_id                          3023 non-null   object
 3   hectare                                     3023 non-null   object
 4   shift                                       3023 non-null   object
 5   date                                        3023 non-null   int64
 6   hectare_squirrel_number                     3023 non-null   int64
 7   age                                         2902 non-null   object
 8   primary_fur_color                           2968 non-null   object
 9   highlight_fur_color                         1937 non-null   object
 10  combination_of_primary_and_highlight_color  3023 non-null   object
 11  color_notes                                 182 non-null    object
 12  location                                    2959 non-null   object
 13  above_ground_sighter_measurement            2909 non-null   object
 14  specific_location                           476 non-null    object
 15  running                                     3023 non-null   bool
 16  chasing                                     3023 non-null   bool
 17  climbing                                    3023 non-null   bool
 18  eating                                      3023 non-null   bool
 19  foraging                                    3023 non-null   bool
 20  other_activities                            437 non-null    object
 21  kuks                                        3023 non-null   bool
 22  quaas                                       3023 non-null   bool
 23  moans                                       3023 non-null   bool
 24  tail_flags                                  3023 non-null   bool
 25  tail_twitches                               3023 non-null   bool
 26  approaches                                  3023 non-null   bool
 27  indifferent                                 3023 non-null   bool
 28  runs_from                                   3023 non-null   bool
 29  other_interactions                          240 non-null    object
 30  lat_long                                    3023 non-null   object
 31  zip_codes                                   9 non-null      float64
 32  community_districts                         3023 non-null   int64
 33  borough_boundaries                          3023 non-null   int64
 34  city_council_districts                      3023 non-null   int64
 35  police_precincts                            3023 non-null   int64
dtypes: bool(13), float64(3), int64(6), object(14)
memory usage: 581.7+ KB

Podemos ver que en este dataset hay cuatro tipos de columnas:

* bool -> boleanos (Verdadero/Falso)
* float64 -> números decimales
* int64 -> números enteros
* object -> caracteres ó etiquetas

# Limpieza y valores nulos

Por desgracia, en la mayoría de conjuntos de datos reales faltan datos. Algunos motivos pueden ser:

No se sabe el valor
Se introdujo una nueva columna y por lo tanto no se conocen los valores de dicha columna para datos anteriores
No sabe/no contesta
No se consideró relevante ...
La falta de valores en una tabla supondrá un grave problema en el momento en que queramos construir un modelo predictivo, ya que la mayoría de los modelos no pueden realizar predicciones si no se conocen todos los valores de todas las columnas en cada fila de nuestra tabla.

Empecemos contando cuántos valores faltan en cada columna de nuestro fichero

In [6]:
df_ardilla.isna().sum()

long                                             0
lat                                              0
unique_squirrel_id                               0
hectare                                          0
shift                                            0
date                                             0
hectare_squirrel_number                          0
age                                            121
primary_fur_color                               55
highlight_fur_color                           1086
combination_of_primary_and_highlight_color       0
color_notes                                   2841
location                                        64
above_ground_sighter_measurement               114
specific_location                             2547
running                                          0
chasing                                          0
climbing                                         0
eating                                           0
foraging                                         0
other_activities                              2586
kuks                                             0
quaas                                            0
moans                                            0
tail_flags                                       0
tail_twitches                                    0
approaches                                       0
indifferent                                      0
runs_from                                        0
other_interactions                            2783
lat_long                                         0
zip_codes                                     3014
community_districts                              0
borough_boundaries                               0
city_council_districts                           0
police_precincts                                 0
dtype: int64

## Describe()

Un primer análisis rápido que podemos llevar a cabo con las columnas numéricas es ver cuáles son sus rangos de valores, máximos, mínimos, medias, desviaciones estándard, quantiles,..etc. Para ello podemos hacer uso de ".describe()"

In [7]:
df_ardilla.describe()

,long,lat,date,hectare_squirrel_number,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
count,3023.000000,3023.000000,3.023000e+03,3023.000000,9.000000,3023.000000,3023.0,3023.000000,3023.000000
mean,-73.967184,40.780853,1.011949e+07,4.123718,11828.222222,18.996030,4.0,19.070460,13.004631
std,0.007726,0.010285,4.246671e+04,3.096492,995.983782,0.234339,0.0,1.352253,0.224224
min,-73.981159,40.764911,1.006202e+07,1.000000,10090.000000,11.000000,4.0,19.000000,10.000000
25%,-73.973102,40.771676,1.008202e+07,2.000000,12081.000000,19.000000,4.0,19.000000,13.000000
50%,-73.968594,40.778166,1.012202e+07,3.000000,12420.000000,19.000000,4.0,19.000000,13.000000
75%,-73.960189,40.791219,1.014202e+07,6.000000,12423.000000,19.000000,4.0,19.000000,13.000000
max,-73.949722,40.800119,1.020202e+07,23.000000,12423.000000,23.000000,4.0,51.000000,18.000000

## Eliminando columnas

In [8]:
df_ardilla= df_ardilla.drop(columns=['zip_codes'], axis = 1)

In [9]:
df_ardilla.head(10)

,long,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,tail_twitches,approaches,indifferent,runs_from,other_interactions,lat_long,community_districts,borough_boundaries,city_council_districts,police_precincts
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086),19,4,19,13
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),19,4,19,13
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),19,4,19,13
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755),19,4,19,13
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163),19,4,19,13
5,-73.956570,40.790256,33H-AM-1019-02,33H,AM,10192018,2,Juvenile,Gray,Cinnamon,...,False,False,False,False,NaN,POINT (-73.9565700386162 40.7902561000937),19,4,19,13
6,-73.971974,40.769305,6G-PM-1020-02,06G,PM,10202018,2,Adult,Gray,NaN,...,False,False,True,False,NaN,POINT (-73.9719735582476 40.7693045133578),19,4,19,13
7,-73.960261,40.794288,35C-PM-1013-03,35C,PM,10132018,3,NaN,Gray,Cinnamon,...,False,False,False,True,NaN,POINT (-73.9602609920814 40.79428830455661),19,4,19,13
8,-73.977072,40.772975,7B-AM-1008-09,07B,AM,10082018,9,Adult,Gray,NaN,...,False,False,True,False,NaN,POINT (-73.9770718586754 40.7729752391435),19,4,19,13
9,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029),19,4,19,13

## Seleccionamos columnas por tipo o por categoria

Ya hemos mencionado anteriormente que la manera de tratar con columnas numéricas, categóricas ó fechas es distinta. Por ello, es interesante poder seleccionar columnas en función de su tipo para poder así darles un tratamiento distinto. 

Veámos cómo.

In [10]:
df_ardilla_num = df_ardilla.select_dtypes(np.number)
df_ardilla_cat = df_ardilla.select_dtypes(object)

In [11]:
df_ardilla_num

,long,lat,date,hectare_squirrel_number,community_districts,borough_boundaries,city_council_districts,police_precincts
0,-73.956134,40.794082,10142018,3,19,4,19,13
1,-73.957044,40.794851,10062018,3,19,4,19,13
2,-73.976831,40.766718,10102018,3,19,4,19,13
3,-73.975725,40.769703,10182018,5,19,4,19,13
4,-73.959313,40.797533,10182018,1,19,4,19,13
...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,10072018,4,19,4,19,13
3019,-73.970402,40.782560,10132018,5,19,4,19,13
3020,-73.966587,40.783678,10122018,7,19,4,19,13
3021,-73.963994,40.789915,10102018,2,19,4,19,13
3022,-73.975479,40.769640,10122018,1,19,4,19,13

In [12]:
df_ardilla_cat

,unique_squirrel_id,hectare,shift,age,primary_fur_color,highlight_fur_color,combination_of_primary_and_highlight_color,color_notes,location,above_ground_sighter_measurement,specific_location,other_activities,other_interactions,lat_long
0,37F-PM-1014-03,37F,PM,NaN,NaN,NaN,+,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-73.9561344937861 40.7940823884086)
1,37E-PM-1006-03,37E,PM,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN,Ground Plane,FALSE,NaN,NaN,me,POINT (-73.9570437717691 40.794850940803904)
2,2E-AM-1010-03,02E,AM,Adult,Cinnamon,NaN,Cinnamon+,NaN,Above Ground,4,NaN,NaN,NaN,POINT (-73.9768311751004 40.76671780725581)
3,5D-PM-1018-05,05D,PM,Juvenile,Gray,NaN,Gray+,NaN,Above Ground,3,NaN,NaN,NaN,POINT (-73.9757249834141 40.7697032606755)
4,39B-AM-1018-01,39B,AM,NaN,NaN,NaN,+,NaN,Above Ground,NaN,NaN,unknown,NaN,POINT (-73.9593126695714 40.797533370163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,30B-AM-1007-04,30B,AM,Adult,Gray,NaN,Gray+,NaN,Ground Plane,FALSE,NaN,NaN,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,19A-PM-1013-05,19A,PM,Adult,Gray,White,Gray+White,NaN,Ground Plane,FALSE,NaN,NaN,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,22D-PM-1012-07,22D,PM,Adult,Gray,"Black, Cinnamon, White","Gray+Black, Cinnamon, White",NaN,Ground Plane,FALSE,NaN,NaN,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,29B-PM-1010-02,29B,PM,NaN,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN,Ground Plane,FALSE,NaN,NaN,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,5E-PM-1012-01,05E,PM,Adult,Cinnamon,"Gray, White","Cinnamon+Gray, White",NaN,Ground Plane,FALSE,NaN,NaN,NaN,POINT (-73.9754794191553 40.7696404489025)

## Analizar los valores nulos

Comprobamos que en la tabla numeros, en la tercera columnas contiene la fecha de cuando se vieron, se ha interpretado como numero en vez de fecha, ademas los valores nulos, representan un problema a la hora de predecir modelos predictivos, pues no los admiten

In [13]:
df_ardilla_cat
df_ardilla_cat.isna().sum()

unique_squirrel_id                               0
hectare                                          0
shift                                            0
age                                            121
primary_fur_color                               55
highlight_fur_color                           1086
combination_of_primary_and_highlight_color       0
color_notes                                   2841
location                                        64
above_ground_sighter_measurement               114
specific_location                             2547
other_activities                              2586
other_interactions                            2783
lat_long                                         0
dtype: int64

In [14]:
df_ardilla['location'].value_counts(dropna=False)

location
Ground Plane    2116
Above Ground     843
NaN               64
Name: count, dtype: int64

Obervamos que las ardillas no conocemos esos ''_64 casos_'' de valores nulos, la mayoria de los avistamientos son en el **suelo** (Ground Plane) y el resto sobre los **arboles** (Above Ground), con lo cual esos casos nulos los contemplaremos sonre el **suelo**. Veámos cómo reemplazar los valores nulos de esta columna por "Ground Plane".

In [16]:
df_ardilla['location']=df_ardilla['location'].fillna('Ground Plane')
df_ardilla['location'].value_counts(dropna=False)

location
Ground Plane    2180
Above Ground     843
Name: count, dtype: int64

Hagamos lo mismo con la columna  **observacion en los arbolers** "above_ground_sighter_measurement", y con las diferentes columnas para ir eliminando valores nulos **NaN**

In [17]:
df_ardilla['above_ground_sighter_measurement'].value_counts(dropna=False)

above_ground_sighter_measurement
FALSE    2116
10        116
NaN       114
20         84
15         71
2          55
3          52
5          51
30         44
4          42
25         33
6          32
8          30
1          30
40         25
7          19
50         19
12         16
13         11
35         10
28          7
18          5
100         5
45          4
9           4
17          3
60          3
14          2
24          2
23          2
65          2
11          2
43          2
16          2
33          1
31          1
80          1
0           1
180         1
55          1
70          1
19          1
Name: count, dtype: int64

In [18]:
df_ardilla['above_ground_sighter_measurement']=df_ardilla['above_ground_sighter_measurement'].fillna('FALSE')
df_ardilla['above_ground_sighter_measurement'].value_counts(dropna=False)

above_ground_sighter_measurement
FALSE    2230
10        116
20         84
15         71
2          55
3          52
5          51
30         44
4          42
25         33
6          32
1          30
8          30
40         25
7          19
50         19
12         16
13         11
35         10
28          7
18          5
100         5
45          4
9           4
17          3
60          3
14          2
24          2
23          2
65          2
11          2
43          2
16          2
33          1
31          1
80          1
0           1
180         1
55          1
70          1
19          1
Name: count, dtype: int64

En este caso con este Array convertimos el color **Nan** en un **Distint**

In [22]:
df_ardilla['primary_fur_color'].value_counts(dropna=False)

primary_fur_color
Gray        2473
Cinnamon     392
Black        103
distint       55
Name: count, dtype: int64

In [23]:
df_ardilla['primary_fur_color']=df_ardilla['primary_fur_color'].fillna('Distint')
df_ardilla['primary_fur_color'].value_counts(dropna = False)

primary_fur_color
Gray        2473
Cinnamon     392
Black        103
distint       55
Name: count, dtype: int64

## ¿Qué estaban haciendo las ardillas cuando fueron Observadas?

## Vamos a sustituir los valores Nan
Por valores mas o menos coherentes segun su columna
### Ahora toca el turno de las columnas:


* other_activities    
* other_interactions
* color_notes
* specific_location

In [29]:
df_ardilla['other_activities'].value_counts(dropna=False)

other_activities
no value, wildcard                                   2586
digging                                                19
sitting                                                16
walking                                                14
burying                                                12
                                                     ...
looked like it was smelling/digging in the ground       1
running (from a dog)                                    1
jumping tree to tree                                    1
carrying nut away                                       1
eating (on branch)                                      1
Name: count, Length: 308, dtype: int64

Ahora vamos a reemplazar los valores nulos por un comodín:  "__no value, wildcard__".

In [30]:
df_ardilla['other_activities']=df_ardilla['other_activities'].fillna('no value, wildcard')
df_ardilla['other_activities'].value_counts(dropna = False)

other_activities
no value, wildcard                                   2586
digging                                                19
sitting                                                16
walking                                                14
burying                                                12
                                                     ...
looked like it was smelling/digging in the ground       1
running (from a dog)                                    1
jumping tree to tree                                    1
carrying nut away                                       1
eating (on branch)                                      1
Name: count, Length: 308, dtype: int64

In [31]:
df_ardilla['other_interactions'].value_counts(dropna = False)

other_interactions
No Interactions                       2783
runs from (dog)                          9
curious                                  6
runs from (me)                           5
stared                                   4
                                      ...
climbing                                 1
ran two feet up tree trunk               1
scared                                   1
runs from (kids kicking the fence)       1
scolding                                 1
Name: count, Length: 198, dtype: int64

In [32]:
df_ardilla['other_interactions']=df_ardilla['other_interactions'].fillna('No Interactions')
df_ardilla['other_interactions'].value_counts(dropna = False)

other_interactions
No Interactions                       2783
runs from (dog)                          9
curious                                  6
runs from (me)                           5
stared                                   4
                                      ...
climbing                                 1
ran two feet up tree trunk               1
scared                                   1
runs from (kids kicking the fence)       1
scolding                                 1
Name: count, Length: 198, dtype: int64

In [33]:
df_ardilla['other_activities']=df_ardilla['other_activities'].fillna('No Interactions')
df_ardilla['other_activities'].value_counts(dropna = False)

other_activities
no value, wildcard                                   2586
digging                                                19
sitting                                                16
walking                                                14
burying                                                12
                                                     ...
looked like it was smelling/digging in the ground       1
running (from a dog)                                    1
jumping tree to tree                                    1
carrying nut away                                       1
eating (on branch)                                      1
Name: count, Length: 308, dtype: int64

In [35]:
df_ardilla['color_notes'].value_counts(dropna = False)

color_notes
NaN                                                                                                                2841
Gray & Cinnamon selected as Primary. White selected as Highlights. Made executive adjustments.                        9
white belly                                                                                                           5
White tail                                                                                                            4
Gray & Cinnamon selected as Primary. Nothing selected as Highlights. Made executive adjustments.                      4
                                                                                                                   ...
Drawing included on tally sheet                                                                                       1
Black & Cinnamon selected as Primary. White selected as Highlights. Made executive adjustments.                       1
very long tail                                                                                                        1
Light Cinnamon                                                                                                        1
Gray & Cinnamon selected as Primary. Gray, Cinnamon & White selected as Highlights. Made executive adjustments.       1
Name: count, Length: 136, dtype: int64

In [36]:
df_ardilla['specific_location'].value_counts(dropna = False)

specific_location
NaN                                           2547
tree                                            43
in tree                                         32
on fence                                         8
Tree                                             7
                                              ...
Was on top of the edge of Bow Bridge             1
Gathering/digging in grassy area b/w trees       1
hanging upside down to get a nut                 1
running on rocks                                 1
Across Transverse                                1
Name: count, Length: 305, dtype: int64

Estas columnas contienen **demasiados valores nulos** (casi la mayoría de ellos) por lo que no es razonable reemplazarlos por algún valor no nulo de la misma columna. Así que lo que haremos en poner estas columnas en una "lista negra" de columnas a eliminar., es decir, vamos a dropearlos...pues no nos interesasn

In [37]:
cols_drop = ['color_notes','specific_location']

In [ ]:
df_ardilla
df